<div class="doctor-schedule-container">
  <label for="doctor-select" class="form-label">Select Doctor:</label>
  <select id="doctor-select" class="form-input" [(ngModel)]="selectedDoctorId">
    <option *ngFor="let doctor of doctors" [value]="doctor.id">
      {{ doctor.nickname }}
    </option>
  </select>

  <div *ngIf="selectedDoctorId && currentUser" class="calendar-container">
    <div class="appointment-container">
      <div class="appointment-form">
        <div *ngIf="!selectedStartTimeSlot" class="select-start-message">
          <h1>Select the appointment start</h1>
        </div>
        <div *ngIf="selectedStartTimeSlot">
          <h2>Book a Consultation</h2>
          <form (ngSubmit)="submitAppointment()" #appointmentForm="ngForm">
            <div id="ConsultationInfo">
              <p>
                Selected Date: <b>{{ selectedStartDate | date: "dd-MM-yyyy" }}</b><br />
                Selected TimeSlot: <b>{{ formatHour(selectedStartTimeSlot) }}</b>
              </p>
            </div>

            <div class="form-group">
              <label for="consultationLength" class="form-label">Consultation Length:</label>
              <select
                id="consultationLength"
                class="form-input"
                [(ngModel)]="appointmentDetails.consultationLength"
                name="consultationLength"
                required
              >
                <option *ngFor="let i of selectableDurations" value="{{ i }}">
                  {{ formatDuration(i) }}
                </option>
              </select>
            </div>

            <div class="form-group">
              <label for="consultationType" class="form-label">Consultation Type:</label>
              <select
                id="consultationType"
                class="form-input"
                [(ngModel)]="appointmentDetails.consultationType"
                name="consultationType"
                required
              >
                <option value="">Select Type</option>
                <option
                  *ngFor="let reservationType of selectableReservationTypes"
                  value="{{ reservationType }}"
                >
                  {{ reservationType }}
                </option>
              </select>
            </div>

            <div class="form-group">
              <label for="patientName" class="form-label">Patient Name:</label>
              <input
                type="text"
                id="patientName"
                class="form-input"
                [(ngModel)]="appointmentDetails.patientName"
                name="patientName"
                required
              />
            </div>

            <div class="form-group">
              <label for="patientGender" class="form-label">Patient Gender:</label>
              <select
                id="patientGender"
                class="form-input"
                [(ngModel)]="appointmentDetails.patientGender"
                name="patientGender"
                required
              >
                <option value="">Select Gender</option>
                <option
                  *ngFor="let genderType of selectableGenders"
                  value="{{ genderType }}"
                >
                  {{ genderType }}
                </option>
              </select>
            </div>

            <div class="form-group">
              <label for="patientAge" class="form-label">Patient Age:</label>
              <input
                type="number"
                id="patientAge"
                class="form-input"
                [(ngModel)]="appointmentDetails.patientAge"
                name="patientAge"
                required
                min="0"
              />
            </div>

            <div class="form-group">
              <label for="doctorNotes" class="form-label">Note for Doctor:</label>
              <textarea
                id="doctorNotes"
                class="form-input"
                [(ngModel)]="appointmentDetails.doctorNotes"
                name="doctorNotes"
              ></textarea>
            </div>

            <div *ngIf="errorMessage" class="error-message">
              {{ errorMessage }}
            </div>

            <div>
              <button type="submit" class="action-button" [disabled]="!appointmentForm.form.valid">
                Make a Reservation
              </button>
            </div>
          </form>
        </div>
      </div>

      <div class="calendar-section">
        <app-calendar
          [currentUser]="currentUser"
          [reloadService]="reloadService"
          [passSelectedTimeSlotService]="passSelectedTimeSlotService"
          [doctorID]="selectedDoctorId"
        ></app-calendar>
      </div>
    </div>
  </div>
</div>
