.calendar-controls {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  margin-bottom: 16px;
}
.calendar-grid {
  display: grid;
  grid-template-columns: 100px repeat(7, 1fr);
}
.header-row,
.time-row {
  display: contents;
}
.time-slot {
  text-align: right;
  padding: 4px;
}
.time-slot.current-hour-row {
  background: #cce5ff;
  border: 1px solid #007bff;
}
.day-header {
  text-align: center;
  font-weight: bold;
  background: #f5f5f5;
  padding: 4px;
}
.day-header.today-column {
  background: #cce5ff;
  border: 1px solid #007bff;
}
.day-header div {
  margin: 2px 0;
}
.day-slot {
  background: #fff;
  min-height: 30px;
  border: 1px solid #ddd;
  position: relative;
}
.day-slot.today-column {
  background: #f3f3f3;
}
.appointment {
  background-color: #4caf50;
  color: #fff;
  font-size: 12px;
  padding: 2px;
  height: calc(100% - 4px);
}
.day-slot.current-time-slot .appointment, .day-slot.current-time-slot {
  -webkit-box-shadow: inset 0px 0px 0px 4px rgba(254, 175, 51, 1);
  -moz-box-shadow: inset 0px 0px 0px 4px rgba(254, 175, 51, 1);
  box-shadow: inset 0px 0px 0px 4px rgba(254, 175, 51, 1);
}
.absence {
  background-color: #8d22ff !important;
}
.reservation {
  background-color: #007bff !important;
}
.highlighted {
  -webkit-box-shadow: inset 0px 0px 0px 3px rgb(51, 254, 251) !important;
  -moz-box-shadow: inset 0px 0px 0px 3px rgb(51, 254, 251) !important;
  box-shadow: inset 0px 0px 0px 3px rgb(51, 254, 251) !important;
}