<div class="calendar-controls">
    <button (click)="previousWeek()">Previous Week</button>
    <button (click)="nextWeek()">Next Week</button>
    <label>
      Hour Range:
      <input type="number" [(ngModel)]="startHour" min="0" max="23"> - 
      <input type="number" [(ngModel)]="endHour" min="1" max="24">
    </label>
  </div>
  <div class="calendar-grid">
    <div class="header-row">
      <div class="time-slot"></div>
      <div *ngFor="let day of days; let i = index" [class.today-column]="isToday(currentWeek[i])" class="day-header">
        <div>{{ day }}</div>
        <div>{{ currentWeek[i] | date:'dd-MM-yyyy' }}</div>
      </div>
    </div>
    <div *ngFor="let hour of hourRange" class="time-row" >
      <div class="time-slot" [class.current-hour-row]="isCurrentHour(hour)">{{ formatHour(hour) }}</div>
      <div *ngFor="let day of days; let i = index" 
           [class.current-time-slot]="isCurrentTimeSlot(currentWeek[i], hour)" 
           [class.today-column]="isToday(currentWeek[i])"
           class="day-slot">
        <div *ngFor="let slot of getSlotsForTime(currentWeek[i], hour)" class="appointment" [class.absence]=isAbsence(slot) (click)="publishSelectedTimeSlot(currentWeek[i], hour)">
        </div>
      </div>
    </div>
  </div>